.intro {
	position: relative;
	width: 100%;
	height: 310px;


	* {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}

	img {
		top: 60px;
		width: 160px;
		height: 190px;
	}

	h1 {
		top: 245px;
		width: 100%;
		color: $intro-h1-color;
		font-size: 30px;
		font-family: $font;
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;
	}
}