$font:                     'Comfortaa';
$font-2:                   sans-serif;

$header-bg-color:          #07B2B8;
$active-header-bg-color:   #F4D716;

$intro-h1-color:           #444;

$announcement-bg-color:    #FCA02D;
$announcement-i-color:     #ff6702;

$info-1-bg-color:          #A2CE52;
$info-2-bg-color:          #5FC5B7;
$info-3-bg-color:          #817B75;
$info-4-bg-color:          #F06872;

$info-btn-1-bg-color:      #59B8AB;
$info-btn-2-bg-color:      #746F69;
$info-btn-3-bg-color:      #D05B62;
$info-btn-bg-color-amount: 10;

$hover-bg-color-amount:    10;

$event-title-bg-color:     #0CB1D1;
$event-btn-bg-color:       #D2EDED;

$live-numbers-bg-color:    lightblue;

$footer-bg-color:          #0780B5;