@import url('https://fonts.googleapis.com/css?family=Comfortaa');

@import 'reset';

.admin-container {
	display: flex;
	justify-content: space-around;


	a {
		flex: 1 1 auto;
		// height: 100vh;
		text-align: center;
		// line-height: 100vh;
		font-family: 'Comfortaa';
		color: #000;
		text-decoration: none;
		transition: all 200ms;


		&:nth-child(1) { background-color: #C5AAF5; }
		&:nth-child(2) { background-color: #A3CBF1; }
		&:nth-child(3) { background-color: #79BFA1; }
		&:nth-child(4) { background-color: #F5A352; }
		&:nth-child(5) { background-color: #FB7374; }
		&:nth-child(6) { background-color: #423C40; }

		&:hover {
			transform: scale(.9);
		}
	}
}

@media screen and (max-width: 1150px) {
	.admin-container {
		flex-direction: column;
		// height: 100vh;


		a {
			// height: calc(100% / 6);
			// line-height: calc(100% / 6);
		}
	}
}