@import url('https://fonts.googleapis.com/css?family=Comfortaa');

@import 'reset';

.admin-container {
	display: flex;
	justify-content: space-around;


	a {
		flex: 1;
		height: 100vh;
		text-align: center;
		line-height: 100vh;


		&:nth-child(1) {
			background-color: green;
		}
	}
}