@import url('https://fonts.googleapis.com/css?family=Comfortaa');

@import 'reset';

.admin-container {
	display: flex;
	justify-content: space-around;
	align-content: center;
	height: 600px;


	a {
		background-color: green;
	}
}